body {
  background-color: rgb(218, 229, 236);
  font-family: 'Open Sans', sans-serif;
}

.container-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-style {
  width: 18rem;
  height: 18rem;
}
.card-title {
  font-size: 2.2vh;
}

.card-style:hover {
  transition: all 0.3s ease-out;
  box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.2);
  top: -8px;
  border: 1px solid #cccccc;
}

.img-container {
  position: relative;
}

.img-workouts {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 38%;
  height: 100%;
  font-size: 11px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.small-img {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.extra-icons {
  margin-top: -8px;
  margin-left: 5px;
  margin-bottom: 2px;
  color: #666666;
  font-size: x-small;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
